# Ignore virtual environments
.venv/

# Ignore environment variables
.env

# Ignore files
*__rough__*.*

# Ignore directories
.vscode/
.DS_Store
__pycache__/
.ipynb_checkpoints/
__rough__/

# Custom project files and folders
logs/
data/
requests.json
